<!DOCTYPE html>
<html lang="en">
    <head>
     {{>header_links}}
    </head>

<body>
    {{>navbar}}
    <h1 style="text-align:center; color:#0097e6; font-size:40px;">OOPS.. Page doesn't exists</h1>
        <img src="images/404.png" alt="error img" tittle="ERROR...... PAGE DOESNOT EXISTS" style="width:100vw; height:85vh;">
    
    {{>footer}}
</body>
</html>