<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header_links}}

    </head>
    
<body>

    <!-- NAVBAR -->
   {{>navbar}}
    <!-- END OF NAVBAR -->
   <div class="container-fluid main_header">
       <div class="row">
           <!-- LEFT SIDE DIV -->
           <div class="col-md-6 col-12 main_header_right">
               <figure>
                   <img src="images/about.jpg" alt="yash" class="img-fluid" title="yashraj jaiswal">
               </figure>
           </div>
           <!-- RIGHT SIDE DIV -->
           <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Weather app</p>
            <h1>I am a   <span class="txt_color">MERN stack </span>Devloper</h1>
           </div>
       </div>
   </div> 
   {{>footer}}
</body>
</html>